<script setup lang="ts">
import TaskManager from '@/components/TaskManager.vue';
</script>

<template>
  <div class="about">
    <TaskManager />
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
