<template>
  <div>
    <h2>Task Manager</h2>

    <form @submit.prevent="addTask">
      <input v-model="newTaskTitle" type="text" placeholder="Add new task">
      <button type="submit">Add</button>
    </form>
    
    <ul v-if="tasks.length > 0">
      <li v-for="task in tasks" :key="task.id">
        {{ task.title }} - {{ task.status }}
        <button @click="updateTaskStatus(task)">
          {{ task.status === 'pending' ? 'Mark Complete' : 'Mark Pending' }}
        </button>
        <button @click="deleteTask(task.id)">Delete</button>
      </li>
    </ul>
    <p v-else>No tasks yet.</p>
  </div>
</template>

<script lang="ts">
import axios from 'axios';
import { defineComponent } from 'vue';

interface Task {
  id: number;
  title: string;
  status: 'completed' | 'pending';
}

export default defineComponent({
  data() {
    return {
      tasks: [] as Task[],
      newTaskTitle: "",
    };
  },

  mounted() {
    this.fetchTasks();
  },

  methods: {
    async fetchTasks() {
      try {
        const response = await axios.get('http://localhost:3000/tasks'); 
        this.tasks = response.data;
      } catch (error) {
        console.error('Error fetching tasks:', error);
      }
    },

    async addTask() {
      try {
        const response = await axios.post('http://localhost:3000/tasks', {
          title: this.newTaskTitle,
        });
        
        this.tasks = [
          ...this.tasks,
          {
            id: response.data.taskId, 
            title: this.newTaskTitle, 
            status: "pending" 
          }
        ]; 
        
        this.newTaskTitle = ''; 
        console.log('Task created successfully:', response.data); 
      } catch (error) {
        console.error('Error adding task:', error);
      }
    },

    async updateTaskStatus(task: Task) {
      try {
        const newStatus = task.status === 'pending' ? 'completed' : 'pending';
        await axios.put(`http://localhost:3000/tasks/${task.id}`, { status: newStatus });
        task.status = newStatus;
      } catch (error) {
        console.error('Error updating task:', error);
      }
    },

    async deleteTask(taskId: number) {
      try {
        await axios.delete(`http://localhost:3000/tasks/${taskId}`);
        this.tasks = this.tasks.filter(t => t.id !== taskId);
      } catch (error) {
        console.error('Error deleting task:', error);
      }
    },
  },
});
</script>
